{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "ts-react-important-stuff",
        "plugin:prettier/recommended",
        "standard-with-typescript",
        "plugin:react/recommended",
        "eslint:recommended"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "semi": ["error", "always"],
        "react/no-unknown-property": ["error", { "ignore": ["originalProps"] }]
    }
}
