@import './../../theme/theme.scss';

.root_container {
    text-align: center;
    width: 100%;
    background-color: $secondary-color;
    margin: 1rem 0rem 1rem 1rem;
    border-radius: 10px;
}

.body_container {
    width: 100%;
    margin: 0 auto;
}