.home {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.recommendations .history{
    margin: 1rem;
    max-width: auto;
    align-items: center;
}

.section {
    width: 70%;
    position: sticky;
}

.releases {
    width: 100%;
    margin-right: 1rem;
}

.top_tracks {
    margin-top: 1rem;
}

.top_artists {
    margin-left: 1rem;
}

.top_sections {
    margin: 1rem;
}

.item:hover {
    background-color: #a9a9a9;
}

.track_card {
    width: 100%;
}