.home {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.recommendations .history{
    margin: 1rem;
    max-width: auto;
    align-items: center;
}

.section {
    width: 60%;

    .track {
        margin: 1rem;
    }

    .artist {
        margin: 1rem;
    }
}

.top_sections {
    margin: 1rem;
}

.item:hover {
    background-color: #a9a9a9;
}
