.home {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.banner {
    margin: 1rem;
    max-width: 70%;
    align-items: center;
}

.recommendations .history{
    margin: 1rem;
    max-width: auto;
    align-items: center;
}

.section {
    width: 25%;
    margin: 0.5rem;

    .musics {
        margin-right: auto;
    }
}

.top_sections {
    margin: 1rem;
}

.item {
    margin: auto;
}

.item:hover {
    background-color: #a9a9a9;
}
