.div-section-root {
    margin: 10px 0px 10px 0px;
    width: 100%;
    background-color: antiquewhite;
    padding: 20px;
    align-items: center;
}

.div-section-item {
    margin: 0.5rem;
    background-color: azure;
    padding: 0.5rem;
    align-items: center;
}