.div-section-root {
    width: auto;
    border-radius: 0.5rem;
    border-width: 2px;
    border-color: red;
    padding: 20px;
    align-items: center;
}

.div-section-items {
    display: flex;
}

.div-section-item {
    margin: 0.5rem;
    align-items: center;
}