.card_root {
    display: flex;
    margin: 0rem 1rem 1rem 1rem;
    width: auto;
    height: fit-content;
    background-color: black;
    border-radius: 10px;
}

.card_track {
    position: sticky;
}

.card_artist {
    position: sticky;
    width: auto;
    height: auto;
}

.card_play_button {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.card_info {
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    text-align: left;
}