.card_root {
    display: flex;
}

.card_track {
    position: sticky;
}

.card_artist {
    position: sticky;
    width: auto;
    height: auto;
}

.card_play_button {
    margin-left: auto;
    margin: 1rem;
}