.home-container {
    height: max-content;
    width: 100%;
}

.section-container {
    margin: 10px;
    margin-top: 0;
}

.top-musics{
    width: 50%;
}

.top-artists{
    width: 50%;
}

.top-section {
    width: 100%;
    border-color: red;
    border-width: 2px;
}