.profile_page {
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
}

.profile_banner {
    width: 100%;
    height: 30%;
    background-image: 'https://via.placeholder.com/800x200';
    background-size: cover;
    background-position: center;
}

.profile_image {
    top: 50%;
}

.profile_tracks {
    margin: 2rem;
}