@import './../../theme/theme.scss';

.div_navbar_root {
    top: 0;
    position: static;
    background-color: $primary-color;
    border-radius: 0rem 0rem 0.5rem 0rem;
    padding: 0.25rem 0.25rem;
    margin: auto;
    align-items: center;
    display: flex;
}

.div_nav_logo {
  position: static;
  left: auto;
  margin: 5px;
  align-items: center;
  width: 10%;
}

.div_nav_items {
  align-items: center;
  margin: auto;
}

.div_nav_item {
  margin: 0px 25px 0px 25px;
  align-items: center;
  width: 10%;
}

.div_nav_search {
  align-items: center;
  margin: auto;
}

.div_nav_avatar {
  align-items: center;
  margin-left: auto;
}

.register_link {
  color: black;
}

.upload_button {
  margin: 0rem 1rem 0rem 0rem;
}

.avatar_dropdown_nav {
  margin: 0rem 1rem 0rem 0rem;
}