@import './../../theme/theme.scss';

.sidebar {
    position: static;
    background-color: $secondary-color;
    left: 0;
    padding: 1rem;
    width: auto;
    height: 100vh;
    max-height: auto;
}
