* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #565656;
    width: auto;
    height: 100%;
}

.flex {
    display: flex;
}
